/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: url(https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center center;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.active {
  background: #7447c7;
  color: #fff;
}


.shadow-colored {
  box-shadow: inset 0px 0px 7px #00e61f40;
}

.heading {
  background: #39c790;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.image-wrapper {
  height: 128px;
}

@media(max-width: 767px) {
  .heading {
    font-size: 20px;
    padding: 5px;
  }

  .name {
    font-size: 16px;
  }

  .avatar-image {
    width: 80px;
  }

  .image-wrapper {
    height: 80px;
  }
}